.pre {
  min-width: max-content;
  width: 100%;
  background-color: var(--color-bg-sample) !important;
  margin: 0;
  box-sizing: border-box;
}

.padded {
  padding: var(--ant-padding);
}

.code {
  border: 1px solid gray;
  box-decoration-break: clone;
}
