:host {
  --transition-duration: var(--rhu-b-transition-duration, 0);
  --transition-property:
    background, color, padding, border, opacity, scale, transform, width;
  /* margin-right; */

  --c-background: var(--rhu-b-c-background, transparent);
  --c-backdrop-filter: var(--rhu-b-c-backdrop-filter, transparent);
  --c-border: var(--rhu-b-c-border, 1px solid red);
  --c-border-radius: var(--rhu-b-c-border-radius, none);

  --cu-background: var(--rhu-b-cu-background, transparent);
  --cu-color: var(--rhu-b-cu-color, white);
  --cu-border: var(--rhu-b-cu-border, 1px solid red);
  --cu-border-radius: var(--rhu-b-cu-border-radius, none);
}

:host {
  display: block;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  border-radius: var(--c-border-radius);
  height: 100%;
}

*,
*::before,
*::after {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  user-select: none;
}

:host > .container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
  background: var(--c-background);
  border-radius: var(--c-border-radius);
  border: var(--c-border);
}

r-cue-badges {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);

  box-sizing: border-box;
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 100%;

  color: var(--cu-color);
  border-radius: var(--cu-border-radius);
  border: var(--cu-border);
}

r-cue-badge {
  border-radius: var(--cu-border-radius);
}
