:host {
  --transition-duration: var(--rhu-transition-duration, 0);
  --transition-property:
    background, color, padding, border, opacity, scale, transform, width,
    margin-right, margin-left;

  --c-background: var(--rhu-c-background, transparent);
  --c-backdrop-filter: var(--rhu-c-backdrop-filter, transparent);
  --c-border: var(--rhu-c-border, 1px solid red);
  /* --c-gap: var(--rhu-c-gap, 1em); */
  --c-border-radius: var(--rhu-c-border-radius, none);
  --c-padding: var(--rhu-c-padding, none);

  --cu-background: var(--rhu-cu-background, transparent);
  --cu-color: var(--rhu-cu-color, white);
  --cu-border: var(--rhu-cu-border, 1px solid red);
  --cu-border-radius: var(--rhu-cu-border-radius, none);
  /* --cu-padding: var(--rhu-cu-padding, none); */
}

:host {
  display: block;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  border-radius: var(--c-border-radius);
  opacity: 1;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
}

:host > .container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
  /* padding: var(--c-padding); */
  background: var(--c-background);
  border-radius: var(--c-border-radius);
  border: var(--c-border);
  /* gap: var(--c-gap); */
  /* backdrop-filter: var(--c-backdrop-filter); */
}

r-cue-chip {
  opacity: 1;
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);

  box-sizing: border-box;
  display: flex;
  align-items: center;
  line-height: 1em;
  height: 100%;
  white-space: nowrap;

  background: var(--cu-background);
  color: var(--cu-color);
  border-radius: var(--cu-border-radius);
  border: var(--cu-border);
}
