/* :root.palette-gray { */
/* --color-text-dark-0-hex: #fff; */
/* --color-text-dark-0-hex: #fff;
  --color-text-light-0-hex: #000;

  --color-surface-0-dark-hex: #000000;
  --color-surface-1-dark-hex: #0c0c0c;
  --color-surface-2-dark-hex: #0d1216;
  --color-surface-3-dark-hex: #444;

  --color-surface-0-light-hex: #fff;
  --color-surface-1-light-hex: #ddd;
  --color-surface-2-light-hex: #bbb;
  --color-surface-3-light-hex: #999; */
/* } */
