.parent {
  margin: 0;
  margin-bottom: calc(var(--ant-padding) / 2);
}

.yaml {
  overflow: hidden;
  background-color: var(--ant-color-bg-container);
}

.withSource {
  display: grid;
  grid-template-columns: 1fr clamp(150px, 20svw, 300px);
}

.children {
  border-top: 3px dashed var(--ant-color-primary);
  border-left: 3px dashed var(--ant-color-primary);
  padding-left: var(--ant-padding-sm);
  padding-top: var(--ant-padding-sm);
}
