.parent {
  margin: 0;
  margin-bottom: calc(var(--ant-padding) / 2);
}

.switches {
  gap: 1em;
  padding-inline: var(--ant-padding);
  padding-bottom: var(--ant-padding);
}

.lineage {
  border-left: 1px solid var(--ant-color-bg-base);

  &:hover {
    border-left-color: var(--ant-color-bg-container);
  }
}

.yaml {
  overflow: hidden;
  background-color: var(--ant-color-bg-container);
}

.withSource {
  display: grid;
  grid-template-columns: 1fr clamp(150px, 20svw, 300px);
}

.dashed {
  border-top: 3px dashed var(--color);
  border-left: 3px dashed var(--color) !important;
  padding-left: var(--ant-padding-sm);
  padding-top: var(--ant-padding-sm);
}

.childrenNodes {
  composes: dashed;
  --color: var(--ant-color-primary);
}

.tokenNodes {
  composes: dashed;
  --color: var(--ant-green-6);
}

.spaceNodes {
  composes: dashed;
  --color: var(--ant-pink-6);
}

.newCpx {
  composes: dashed;
  --color: var(--ant-blue-6);
}

.selectNodeProp {
  padding: var(--ant-padding);
}
