horizontal-scroll {
  &.container {
    --thumb-color: var(--scrollbar-thumb-color, #ff0000);

    display: block;
    touch-action: pan-x;
    overflow-y: hidden;
    overflow-x: overlay;
    margin-block-end: -0.5em;

    &::-webkit-scrollbar {
      appearance: none;
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      transition: background 1s ease;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: var(--thumb-color) !important;
      }
    }
  }

  &.wrapper {
    padding-block-end: 0.5em;
    display: flex;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }

  &.content {
    flex-grow: 1;
    padding-inline: 1em;
    scroll-snap-align: start end;
    scroll-snap-stop: always;
    min-width: 100vw;
    box-sizing: border-box;
  }

  &.left {
    display: block;
    flex-grow: 0;
    margin-inline-end: 0.2em;
    padding-inline-start: 1em;
  }

  &.right {
    display: block;
    flex-grow: 1;
    max-width: 1em;
    margin-inline-end: 0.2em;
    padding-inline-start: 1em;
  }
}

@media (pointer: coarse) {
  horizontal-scroll {
    &.container {
      overflow-x: scroll;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        height: 1px;
      }
    }
  }
}
