.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100svh;

  &::-webkit-scrollbar {
    appearance: none;
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-1);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--fg-1);
  }
}

.output {
  --ribbon-height: calc(var(--tab-height) + var(--input-height));
  padding-top: var(--ribbon-height);
  /* height: calc(100svh - var(--ribbon-height)); */

  /* overflow-anchor: auto; */
  /* overflow-y: auto;
  overflow-x: hidden; */
  /* margin-top: 1em; */
  /* padding-top: calc(var(--tab-height) + var(--input-height) + "1em"); */
  /* height: auto; */
  /* height: 100svh; */
  /* padding: 1em; */
}

.ribbon {
  position: absolute;
  top: 0;
  left: 0;
  right: var(--scrollbar-width);
}

.component {
  position: relative;
}

.customInputContainer {
  /* width: 100%; */
  background-color: var(--bg-1);
  padding-inline: 1em;
  height: var(--input-height);
  display: flex;
  align-items: center;
}

.customInput {
  padding: 0.5em;
  width: 100%;
  background-color: var(--bg-3);
  color: var(--fg-2);
  border: 0px solid transparent;
}

.errorContainer {
  padding: 1em;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.errorHeading {
  padding-bottom: 0.5em;
}

.errorPre {
  height: 100%;
  overflow: auto;
}
