.container {
  margin-bottom: var(--ant-padding);
  border-color: var(--ant-color-bg-base);
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 0.5s;

  &:hover {
    border-color: var(--ant-color-primary);
  }

  /* padding: var(--ant-padding); */
  & > :global(.ant-card-body) {
    padding: var(--ant-padding) 0;
  }
}

.active h4,
.active article,
.active pre {
  color: var(--ant-color-primary) !important;
  /* scale: 2; */
}

.title {
  padding: 0 var(--ant-padding);
  margin: 0;
}

.description {
  padding: 0 var(--ant-padding);
}

.pre {
  background-color: #050505;
  padding: calc(var(--ant-padding) / 2) var(--ant-padding);
  margin-block: var(--ant-padding) 0;
}
