:host {
  display: block;
  position: fixed;
  inset: 0;
  z-index: -1;
  --transition-duration: var(--ranki-animation-indicator-duration);
  --opacity: var(--indicator-opacity);
  opacity: var(--opacity);
}

r-indicator-pattern {
  position: absolute;
  inset: 0;
  transition-property: opacity, background;
  transition-duration: var(--transition-duration);
  display: block;
}
