.container {
  padding-block: var(--ant-padding);
  margin-inline: var(--ant-padding);
  display: flex;
  align-items: center;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
