.container {
  padding: 1em;
}

.hgroup {
  padding-bottom: 1em;
}

.hgroupTitle {
  padding-bottom: 0.2em;
}

.nativePreviewContainer {
  background-color: var(--bg-4);
  box-sizing: content-box;
  /* padding: 1em; */
  margin-bottom: 1em;
  /* width: max-content; */
  height: max-content;
  display: grid;
  justify-content: center;
  overflow-x: hidden;
  padding: 1em;
  /* padding-inline: 1em; */
}

.nativePreviewContainerInner {
  /* border-inline: 2px dashed var(--bg-1); */
  box-shadow: 0 0 20px 0 var(--bg-1);
  /* padding: 1em; */
}
