.info {
  box-sizing: border-box;
  padding-block: 0.5em;
  width: max-content;
}

.infoParent {
  padding-inline: 0.8em;
  color: var(--bg-4);
}

.infoLeaf {
  padding-block-start: 1.1em;
  color: var(--fg-2);
}
