:host {
  --color-rule: var(--face-rule-background-color);
  --height-hr: var(--face-rule-height);
  --backdrop-filter: var(--face-rule-backdrop-filter);
  --transition-duration: var(--face-rule-transition-duration, 0);
  --wrapper-height-hr: 70px;
  --transition-property:
    background, color, padding, border, opacity, height, width;
}

r-pair-rule {
  display: block;
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  display: grid;
  align-items: center;

  & > * {
    display: block;
    transition-property: var(--transition-property);
    transition-duration: var(--transition-duration);
    background-color: var(--color-rule);
    border-radius: calc(var(--height-hr) / 2);
    backdrop-filter: var(--backdrop-filter);
  }

  &.horizontal {
    box-sizing: border-box;
    height: var(--wrapper-height-hr);
    padding-inline: 4em;
    width: 100%;
    & > div {
      height: var(--height-hr);
    }
  }

  &.vertical {
    box-sizing: border-box;

    & > div {
      height: 100%;
    }
  }
}
