:host {
  --color-vr: var(--face-vr-horizontal-background-color);
  --vr-width: var(--face-vr-horizontal-width);
  /* --transition-duration: var(--face-vr-transition-duration, 0);
  --transition-property: background, color, padding, border, opacity, width; */
}

rule-vertical .container {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: var(--vr-width);
  padding-inline: 4em;
}

div.vr {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  display: block;
  background-color: var(--color-vr);
  height: 100%;
  border-radius: calc(var(--vr-width) / 2);
}
