ranki-hud-item {
  display: inline-block;
  color: #ccc;
  font-size: 0.9rem;

  &.flex,
  &.review,
  &.exposed,
  &.parser,
  &.address {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &.card {
    display: flex;
  }

  /* &.bordered {
    border: 1px solid gray;
  } */

  &.full-padding {
    padding: 0.5em 0.6em;
  }

  &.outer-padding {
    padding: 0.25em 0.3em;
  }

  &.half-padding {
    padding: 0.25em 0.4em;
  }
  &.inline-padding {
    padding-inline: 0.25em;
  }

  &.tags {
    display: flex;
    gap: 0.4em;
  }

  &.fill-1 {
    background-color: var(--color-surface-1-hex);
  }

  &.fill-2 {
    background-color: var(--color-surface-2-hex);
  }

  &.color-2 {
    color: #999;
  }

  &.curved-1 {
    border-radius: 0.5em;
    overflow: hidden;
  }

  &.curved-2 {
    border-radius: 0.3em;
    overflow: hidden;
  }

  &.smaller {
    font-size: 0.7em;
    padding-block: 0;
  }

  &.flag-type-1 {
    background-color: #55000055;
  }
}
