:host {
  display: block;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  --c-background: var(--rha-c-background, transparent);
  --c-border: var(--rha-c-border, 1px solid red);
  --c-gap: var(--rha-c-gap, 1em);
  --c-border-radius: var(--rha-c-border-radius, none);

  --s-background: var(--rha-s-background, transparent);
  --s-color: var(--rha-s-color, white);
  --s-border: var(--rha-s-border, 1px solid red);
  --s-border-radius: var(--rha-s-border-radius, none);

  --s-hover-background: var(--rha-s-hover-background, transparent);
  --s-hover-color: var(--rha-s-hover-color, white);
  --s-hover-border: var(--rha-s-hover-border, 1px solid red);
  --s-hover-border-radius: var(--rha-s-hover-border-radius, none);

  --d-color: var(--rha-d-color, gray);
  --d-padding: var(--rha-d-padding, none);
  --d-border-radius: var(--rha-d-border-radius, none);
  --d-border: var(--rha-d-border, 1px solid red);
  --d-background: var(--rha-d-background, transparent);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
}

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: var(--c-background);
  border-radius: var(--c-border-radius);
  border: var(--c-border);
  height: 100%;
  gap: var(--c-gap);
}

/* .segment-box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  background: var(--segment-box-background);
  color: var(--segment-box-color);
  border-radius: var(--segment-box-border-radius);
  border: var(--segment-box-border);
  padding: var(--segment-box-padding);
} */

.segment {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  line-height: 1em;
  height: 100%;
  padding-inline: 1em;
  background: var(--s-background);
  color: var(--s-color);
  border-radius: var(--s-border-radius);
  border: var(--s-border);

  &:hover {
    background: var(--s-hover-background);
    color: var(--s-hover-color);
    border-radius: var(--s-hover-border-radius);
    border: var(--s-hover-border);
  }
}

/* .divider-box {
  box-sizing: border-box;
  height: max-content;
  padding: var(--divider-box-padding);
} */

.divider {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  border-radius: var(--d-border-radius);
  color: var(--d-color);
  background: var(--d-background);
  border: var(--d-border);
}
