:host {
  --transition-duration: var(--rha-transition-duration, 0);

  --c-background: var(--rha-c-background, transparent);
  --c-backdrop-filter: var(--rha-c-backdrop-filter, none);
  --c-border: var(--rha-c-border, 1px solid red);
  --c-gap: var(--rha-c-gap, 1em);
  --c-border-radius: var(--rha-c-border-radius, none);

  --s-background: var(--rha-s-background, transparent);
  --s-color: var(--rha-s-color, white);
  --s-border: var(--rha-s-border, 1px solid red);
  --s-border-radius: var(--rha-s-border-radius, none);

  --d-color: var(--rha-d-color, gray);
  --d-border-radius: var(--rha-d-border-radius, none);
  --d-border: var(--rha-d-border, 1px solid red);
  --d-background: var(--rha-d-background, transparent);
}

:host {
  display: block;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  opacity: 1;
  user-select: none;

  & > .container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
    background: var(--c-background);
    border-radius: var(--c-border-radius);
    border: var(--c-border);
    backdrop-filter: var(--c-backdrop-filter);
  }
}

r-address-segment {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  user-select: none;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  line-height: 1em;
  white-space: nowrap;
  height: 100%;

  &.segment {
    background: var(--s-background);
    color: var(--s-color);
    border-radius: var(--s-border-radius);
    border: var(--s-border);
  }

  &.divider {
    border-radius: var(--d-border-radius);
    color: var(--d-color);
    background: var(--d-background);
    border: var(--d-border);
  }
}
