:host {
  --transition-duration: var(--rhc-transition-duration, 0);
  --transition-property:
    background, color, padding, border, opacity, scale, transform, width,
    margin-right;

  --c-background: var(--rhc-c-background, transparent);
  --c-backdrop-filter: var(--rhc-c-backdrop-filter, transparent);
  --c-border: var(--rhc-c-border, 1px solid red);
  --c-border-radius: var(--rhc-c-border-radius, none);
  --c-padding: var(--rhc-c-padding, none);

  --t-background: var(--rhc-t-background, transparent);
  --t-color: var(--rhc-t-color, white);
  --t-border: var(--rhc-t-border, 1px solid red);
  --t-border-radius: var(--rhc-t-border-radius, none);

  --ca-color: var(--rhc-ca-color, white);
  --ca-border-radius: var(--rhc-ca-border-radius, none);
  --ca-border: var(--rhc-ca-border, 1px solid red);
  --ca-background: var(--rhc-ca-background, transparent);

  --f-color: var(--rhc-f-color, white);
  --f-border-radius: var(--rhc-f-border-radius, none);
  --f-border: var(--rhc-f-border, 1px solid red);
  --f-background: var(--rhc-f-background, transparent);
}

:host {
  display: block;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  opacity: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
}

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: var(--c-background);
  border-radius: var(--c-border-radius);
  border: var(--c-border);
  height: 100%;
  backdrop-filter: var(--c-backdrop-filter);
}

.type {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  line-height: 1em;
  height: 100%;
  background: var(--t-background);
  color: var(--t-color);
  border-radius: var(--t-border-radius);
  border: var(--t-border);
  white-space: nowrap;
}

.card {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  border-radius: var(--ca-border-radius);
  color: var(--ca-color);
  background: var(--ca-background);
  border: var(--ca-border);
  white-space: nowrap;
}

.face {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  line-height: 1em;
  height: 100%;
  background: var(--f-background);
  color: var(--f-color);
  border-radius: var(--f-border-radius);
  border: var(--f-border);
}
