.tabButton {
  padding-inline: 1em;
  background-color: var(--bg-2);
  border: 0px solid transparent;
  height: 100%;
  color: #ddd;
  flex-grow: 1;
  cursor: pointer;
}

.tabButtonActive {
  background-color: var(--bg-1);
  color: var(--fg-3);
}
