.outputPre {
  font-size: 0.8em;
  /* --padding-top: calc(var(--tab-height) + var(--input-height)); */

  /* padding: calc(var(--padding-top) + 1em) 1em 1em 1em; */
  padding: 1em;
}

.outputMargin {
  margin-left: 1em;
  border-left: 1px solid var(--bg-1);
}

.leftPadded {
  padding: 0.2em 1em;
  /* margin-left: 0.5em; */
  background-color: var(--bg-1);
}

.hidden {
  height: 1em;
  background-color: var(--bg-1);
  color: var(--fg1);
  padding-left: 1em;
  margin-bottom: 2em;
}
