.ranki-synth-player {
  &.ranki-feature-active {
    & > .ranki-synth-play-button {
      background: var(--color-synth-play-button-active-hex);
      color: var(--color-text-strong-hex);
    }

    & > .ranki-synth-stop-button {
      background: var(--color-synth-stop-button-active-hex);
      color: var(--color-text-hex);
    }
  }

  button {
    color: var(--color-heading-hex);
    margin: 0;
    border-radius: 0;
    padding: 1em 2em;
    border: none;

    span {
      font-size: 1.3rem;
      line-height: 1.3rem;
    }

    &:first-of-type {
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
    }
    &:last-of-type {
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
    }
  }

  button:hover {
    background: var(--color-deck-hex);
  }

  button.ranki-synth-play-button {
    background: var(--color-synth-play-button-inactive-hex);
    padding-inline: 2.5rem;

    span {
      padding-left: 0.4rem;
    }
  }

  button.ranki-synth-stop-button {
    background: var(--color-synth-stop-button-inactive-hex);
  }
}
