:root {
  --color-heading-hex: #bbb;
  --color-text-hex: #ddd;
  --color-text-dim-hex: #444;
  --color-text-strong-hex: #fff;
  --color-block-code-hex: #0f6;
  --color-synth-play-button-active-hex: #090;
  --color-synth-play-button-inactive-hex: #050;
  --color-synth-stop-button-active-hex: #333;
  --color-synth-stop-button-inactive-hex: #222;
  --color-code-bg-hex: #151515;
  --color-code-bg2-hex: #101010;
  --color-link-hex: #09e;
  --color-mnemonic-bg-hex: #043652;

  --color-inline-code-hex: #fdba74;
  --color-inline-kbd-hex: #083;
  --color-inline-url-hex: rgb(27, 204, 228);
  --color-inline-path-hex: rgb(255, 228, 73);

  --color-border-hex: #555;
  --color-deck-hex: #444;
  --color-close-hex: #299;
  --color-error-bg-hex: #600;

  --length-content-inline-inset-rem: 1rem;
  --length-pre-code-block-padding-rem: 1rem;
  --length-pre-code-hljs-down-nudge: 0.2rem;
  --length-chip-padding-inline-rem: 0.3rem;
  --length-section-block-margin-rem: 1rem;
  --length-list-item-margin-block-rem: 0.5rem;

  --length-code-border-radius-rem: 0.3rem;

  // --color-flag1: #f87171;
  // --color-flag2: #fdba74;
  // --color-flag3: #86efac;
  // --color-flag4: #60a5fa;
  // --color-flag5: #f0abfc;
  // --color-flag6: #5eead4;
  // --color-flag7: #c084fc;
  --color-flag1: red;
  --color-flag2: orange;
  --color-flag3: green;
  --color-flag4: blue;
  --color-flag5: pink;
  --color-flag6: turquoise;
  --color-flag7: purple;
}

// #1: This is here so that the padding background color never obscures
// neighboring inline elements.
%inline-card {
  --block: 0.08rem;
  --inline: 0.4rem;

  font-size: smaller;
  position: relative;
  vertical-align: 0.4px; // MAGIC NUMBER

  border-radius: var(--length-code-border-radius-rem);
  background-color: var(--color-code-bg-hex);
  padding: var(--block) var(--inline);
  margin-inline: calc(var(--inline) / -2);
  z-index: -1; // #1

  &:first-child {
    margin-left: calc(var(--inline) * -1);
  }

  &:last-child {
    margin-right: calc(var(--inline) * -1);
  }
}
