:root {
  --color-heading-hex: #CCC;
  --color-text-hex: #FFF;
  --color-block-code-hex: #0F6;
  --color-inline-code-hex: #fdba74;
  --color-code-bg-hex: #151515;
  --color-code-bg2-hex: #101010;
  --color-link-hex: #09E;
  --color-border-hex: #555;
  --color-deck-hex: #444;
  --color-close-hex: #299;
  --color-error-bg-hex: #600;

  --length-content-inline-inset-rem: 1rem;
  --length-pre-code-block-padding-rem: 1rem;
  --length-pre-code-hljs-down-nudge: 0.2rem;
  --length-chip-padding-inline-rem: 0.3rem;
  --length-section-block-margin-rem: 1rem;
}
