titled-block {
  &.container {
    display: block;
    margin-block: 1em;
    padding-block-end: 0.5em;
    background-image: linear-gradient(90deg, #151515, #101010);
  }

  &.hud {
    display: block;
    font-size: 0.6em;
    padding-inline: 1em;
    padding-block-end: 0.2em;
    display: flex;
    gap: 1em;
  }

  &.hud-item {
    box-sizing: border-box;
    padding: 0.5em 1em;
    width: max-content;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    &.programming-language {
      background-color: #050505;
    }

    &.file-path {
      background-color: #0f0544;
    }
  }
}
