titled-block {
  &.container {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    /* margin-bottom: 1em; */
    padding-block-end: 0.5em;
    background-color: var(--color-surface-1-hex);
  }

  &.hud {
    overflow: hidden;
    font-size: 0.6em;
    padding-inline: 1em;
    padding-block-end: 0.2em;
    display: flex;
    gap: 1em;
  }

  &.hud-item {
    box-sizing: border-box;
    padding: 0.5em 1em;
    width: max-content;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    &.programming-language {
      background-color: #050505;
    }

    &.file-path {
      background-color: #0f0544;
    }

    &.title {
      background-color: #344;
    }
  }
}
