:host {
  --transition-property: background, color;
  --transition-duration: var(--dqm-transition-duration, 5s);
}

titled-block {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);

  &.container {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    /* margin-bottom: 1em; */
    padding-block-end: 0.5em;
    background: var(--scheme-surface-1);
  }

  &.hud {
    overflow: hidden;
    font-size: 0.6em;
    padding-inline: 1em;
    padding-block-end: 0.2em;
    display: flex;
    gap: 1em;
  }

  &.hud-item {
    box-sizing: border-box;
    padding: 0.5em 1em;
    width: max-content;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    &.title,
    &.programming-language {
      background: var(--scheme-surface-0);
    }

    &.file-path {
      background: var(--scheme-orange-base);
    }
  }
}
