.pre {
  min-width: max-content;
  width: 100%;
  /* width: 20svw; */
  /* max-width: 200px; */
  background-color: black !important;
  padding: var(--ant-padding);
  margin: 0;
  box-sizing: border-box;
}

.code {
  border: 1px solid gray;
  box-decoration-break: clone;
}
