:host {
  --transition-property:
    background, color, padding, border, opacity, scale, transform, width,
    margin-right;
  --transition-duration: var(--rht-transition-duration, 0);

  --c-background: var(--rht-c-background, transparent);
  --c-backdrop-filter: var(--rht-c-backdrop-filter, transparent);
  --c-border: var(--rht-c-border, 1px solid red);
  --c-border-radius: var(--rht-c-border-radius, none);

  --n-background: var(--rht-n-background, transparent);
  --n-color: var(--rht-n-color, white);
  --n-border: var(--rht-n-border, 1px solid red);
  --n-border-radius: var(--rht-n-border-radius, none);

  --r-color: var(--rht-r-color, gray);
  --r-border-radius: var(--rht-r-border-radius, none);
  --r-border: var(--rht-r-border, 1px solid red);
  --r-background: var(--rht-r-background, transparent);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
}

:host {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  border-radius: var(--c-border-radius);
  margin-right: 1em;
  opacity: 1;
}

:host > .container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
  padding: var(--c-padding);
  background: var(--c-background);
  border-radius: var(--c-border-radius);
  border: var(--c-border);
  backdrop-filter: var(--c-backdrop-filter);
}

r-tag {
  &.anki {
    background: var(--n-background);
    color: var(--n-color);
    border-radius: var(--n-border-radius);
    border: var(--n-border);
  }
  &.ranki {
    border-radius: var(--r-border-radius);
    color: var(--r-color);
    background: var(--r-background);
    border: var(--r-border);
  }
}
