:host {
  display: block;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  position: sticky;
  padding-top: 0.5em;
  height: 100%;
  width: 100%;
  min-width: 0;
}

:host > .container {
  --positioning: center;
  display: block;
  font-size: 0.9rem;
  height: 100%;
  width: 100%;

  display: flex;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  overflow-x: overlay;
  justify-content: var(--positioning);
}

.scroll-container {
  width: max-content;
  height: 100%;
  overflow-x: overlay;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroller {
  /* display: flex; */
  height: 100%;
  overflow: hidden;
  width: max-content;
  /* min-width: 100%; */
}

.center {
  max-width: 100%;
  margin-inline: auto;
}

.content {
  display: flex;
  padding-inline: var(--padding-1);
  /* TODO this is supposed to be inline-padding minus the gap value between hud items */
  /* padding-right: 0; */
}

@media (pointer: coarse) {
  .scroll-container {
    &::-webkit-scrollbar {
      display: none;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE 10+ / old Edge */
    }
  }
}
