:host {
  position: fixed;
  inset: 0;
  margin-inline: auto;
  background: black;
  overflow-y: scroll;
  font-family: monospace;
}

:host > h1,
:host > p {
  padding-inline: 1em;
  color: #770000;
}

:host > pre {
  padding-inline: 1em;
  overflow-x: auto;
  padding-bottom: 1em;
  color: #aaa;
}
