.ranki-hud {
  position: absolute;
  top: 0.2rem;
  left: 0;
  right: 0;
  /*
    This was set for all elements that relate to body and card but hud needs to
    be an exception
  */
  overflow-x: scroll !important;
  scrollbar-width: none;

  .mobile & {
    // position: fixed;
    // z-index: 1000;
    top: 0;
  }
}

.ranki-hud::-webkit-scrollbar {
  display: none;
}

.ranki-hud-scroll-container {
  --inset: var(--length-content-inline-inset-rem);
  --chip-padding: var(--length-chip-padding-inline-rem);

  display: flex;

  padding-inline: calc(var(--inset) - var(--chip-padding));
  padding-block: 0.1rem;
  width: max-content;
  margin-inline: auto;
}

.ranki-hud-chip {
  --inline-padding: var(--length-chip-padding-inline-rem);

  padding: 0.2rem var(--inline-padding);
  background-color: var(--color-code-bg-hex);
  color: var(--color-heading-hex);
  margin-inline-end: 0.3rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  white-space: nowrap;

  border: 0.2px solid var(--color-code-bg-hex);
}

.ranki-hud-tag {
  color: var(--color-border-hex);
  border-color: var(--color-border-hex);
}

.ranki-hud-chip:last-of-type {
  margin-inline-end: 0;
}

.ranki-hud-chip-deck-separator {
  color: var(--color-border-hex);
  padding-inline: 0.2rem;
}
