:host {
  --transition-duration: var(--face-transition-duration, 0);
  --transition-property:
    background, color, padding, border, opacity, scale, transform, width,
    margin-right;
}

:host {
  display: block;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  opacity: 1;
  /* margin-right: 1em; */
}

:host {
  --face-clearance: 10svh;

  margin-inline: auto;
  min-width: var(--content-width);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  align-content: center;
}

ranki-faces-face {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  opacity: 1;
}
