:host {
  --transition-duration: var(--face-transition-duration, 0);
  --transition-property:
    background, color, padding, border, opacity, scale, transform, width,
    margin-right;
  --min-width: var(--content-width);
  --face-clearance: 10svh;
}

:host {
  display: block;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  opacity: 1;
  width: var(--min-width);
  margin-inline: auto;
}

.container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  height: 100%;
  align-content: center;

  /* ANKI selects the child only if it's the only child */
  & > ranki-faces-face:first-child:last-child {
    /* REMOVE */
    /* text-align: center; */
  }

  & > ranki-faces-face:first-child:not(:last-child) {
    margin-top: var(--face-clearance);
    display: flex;
    align-items: end;
  }

  & > ranki-faces-face:last-child:not(:first-child) {
    margin-bottom: var(--face-clearance);
    /* display: flex;
    align-items: end; */
  }
}

ranki-faces-face {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  opacity: 1;
  width: var(--min-width);
}
