:host {
  --transition-duration: var(--rhp-transition-duration, 0);
  --transition-property:
    background, color, padding, border, opacity, scale, transform, width,
    margin-right;

  --c-background: var(--rhp-c-background, transparent);
  --c-border: var(--rhp-c-border, 1px solid red);
  --c-gap: var(--rhp-c-gap, 1em);
  --c-border-radius: var(--rhp-c-border-radius, none);
  --c-padding: var(--rhp-c-padding, none);

  --v-background: var(--rhp-v-background, transparent);
  --v-color: var(--rhp-v-color, white);
  --v-border: var(--rhp-v-border, 1px solid red);
  --v-border-radius: var(--rhp-v-border-radius, none);
  --v-padding: var(--rhp-v-padding, none);

  --r-color: var(--rhp-r-color, gray);
  --r-border-radius: var(--rhp-r-border-radius, none);
  --r-border: var(--rhp-r-border, 1px solid red);
  --r-background: var(--rhp-r-background, transparent);
  --r-padding: var(--rhp-r-padding, none);
}

:host {
  display: block;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  opacity: 1;
  margin-right: 1em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
}

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
  padding: var(--c-padding);
  background: var(--c-background);
  border-radius: var(--c-border-radius);
  border: var(--c-border);
  gap: var(--c-gap);
}

.version {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  line-height: 1em;
  height: 100%;
  background: var(--v-background);
  padding: var(--v-padding);
  color: var(--v-color);
  border-radius: var(--v-border-radius);
  border: var(--v-border);
}

.replacements {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  padding: var(--r-padding);
  border-radius: var(--r-border-radius);
  color: var(--r-color);
  background: var(--r-background);
  border: var(--r-border);
}
